@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBoldItalic.eot');
	src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
		url('../fonts/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
		url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-LightItalic.eot');
	src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'),
		url('../fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-LightItalic.woff') format('woff'),
		url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.eot');
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
		url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Bold.woff') format('woff'),
		url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-ExtraBoldItalic.eot');
	src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
		url('../fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
		url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Light.eot');
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Light.woff') format('woff'),
		url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic.eot');
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
		url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Italic.woff') format('woff'),
		url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-Regular.woff') format('woff'),
		url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-SemiBold.eot');
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
		url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-SemiBold.woff') format('woff'),
		url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-ExtraBold.eot');
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
		url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
		url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-BoldItalic.eot');
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
		url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
		url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBoldItalic.eot');
  src: local('Raleway SemiBold Italic'), local('Raleway-SemiBoldItalic'),
      url('../fonts/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Raleway-SemiBoldItalic.woff') format('woff'),
      url('../fonts/Raleway-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraLightItalic.eot');
  src: local('Raleway ExtraLight Italic'), local('Raleway-ExtraLightItalic'),
      url('../fonts/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
      url('../fonts/Raleway-ExtraLightItalic.woff') format('woff'),
      url('../fonts/Raleway-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-MediumItalic.eot');
  src: local('Raleway Medium Italic'), local('Raleway-MediumItalic'),
      url('../fonts/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-MediumItalic.woff2') format('woff2'),
      url('../fonts/Raleway-MediumItalic.woff') format('woff'),
      url('../fonts/Raleway-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraBoldItalic.eot');
  src: local('Raleway ExtraBold Italic'), local('Raleway-ExtraBoldItalic'),
      url('../fonts/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Raleway-ExtraBoldItalic.woff') format('woff'),
      url('../fonts/Raleway-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.eot');
  src: local('Raleway'), local('Raleway-Regular'),
      url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Regular.woff2') format('woff2'),
      url('../fonts/Raleway-Regular.woff') format('woff'),
      url('../fonts/Raleway-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraBold.eot');
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'),
      url('../fonts/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
      url('../fonts/Raleway-ExtraBold.woff') format('woff'),
      url('../fonts/Raleway-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-BlackItalic.eot');
  src: local('Raleway Black Italic'), local('Raleway-BlackItalic'),
      url('../fonts/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-BlackItalic.woff2') format('woff2'),
      url('../fonts/Raleway-BlackItalic.woff') format('woff'),
      url('../fonts/Raleway-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.eot');
  src: local('Raleway Light'), local('Raleway-Light'),
      url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Light.woff2') format('woff2'),
      url('../fonts/Raleway-Light.woff') format('woff'),
      url('../fonts/Raleway-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Black.eot');
  src: local('Raleway Black'), local('Raleway-Black'),
      url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Black.woff2') format('woff2'),
      url('../fonts/Raleway-Black.woff') format('woff'),
      url('../fonts/Raleway-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Medium.eot');
  src: local('Raleway Medium'), local('Raleway-Medium'),
      url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Medium.woff2') format('woff2'),
      url('../fonts/Raleway-Medium.woff') format('woff'),
      url('../fonts/Raleway-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-ExtraLight.eot');
  src: local('Raleway ExtraLight'), local('Raleway-ExtraLight'),
      url('../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-ExtraLight.woff2') format('woff2'),
      url('../fonts/Raleway-ExtraLight.woff') format('woff'),
      url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Italic.eot');
  src: local('Raleway Italic'), local('Raleway-Italic'),
      url('../fonts/Raleway-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Italic.woff2') format('woff2'),
      url('../fonts/Raleway-Italic.woff') format('woff'),
      url('../fonts/Raleway-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Thin.eot');
  src: local('Raleway Thin'), local('Raleway-Thin'),
      url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Thin.woff2') format('woff2'),
      url('../fonts/Raleway-Thin.woff') format('woff'),
      url('../fonts/Raleway-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.eot');
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
      url('../fonts/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
      url('../fonts/Raleway-SemiBold.woff') format('woff'),
      url('../fonts/Raleway-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-LightItalic.eot');
  src: local('Raleway Light Italic'), local('Raleway-LightItalic'),
      url('../fonts/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-LightItalic.woff2') format('woff2'),
      url('../fonts/Raleway-LightItalic.woff') format('woff'),
      url('../fonts/Raleway-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.eot');
  src: local('Raleway Bold'), local('Raleway-Bold'),
      url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Raleway-Bold.woff2') format('woff2'),
      url('../fonts/Raleway-Bold.woff') format('woff'),
      url('../fonts/Raleway-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Light.eot');
  src: local('Nunito Sans Light'), local('NunitoSans-Light'),
      url('../fonts/NunitoSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-Light.woff2') format('woff2'),
      url('../fonts/NunitoSans-Light.woff') format('woff'),
      url('../fonts/NunitoSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-SemiBold.eot');
  src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'),
      url('../fonts/NunitoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-SemiBold.woff2') format('woff2'),
      url('../fonts/NunitoSans-SemiBold.woff') format('woff'),
      url('../fonts/NunitoSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-SemiBoldItalic.eot');
  src: local('Nunito Sans SemiBold Italic'), local('NunitoSans-SemiBoldItalic'),
      url('../fonts/NunitoSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/NunitoSans-SemiBoldItalic.woff') format('woff'),
      url('../fonts/NunitoSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-ExtraBold.eot');
  src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'),
      url('../fonts/NunitoSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-ExtraBold.woff2') format('woff2'),
      url('../fonts/NunitoSans-ExtraBold.woff') format('woff'),
      url('../fonts/NunitoSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Bold.eot');
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'),
      url('../fonts/NunitoSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-Bold.woff2') format('woff2'),
      url('../fonts/NunitoSans-Bold.woff') format('woff'),
      url('../fonts/NunitoSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-LightItalic.eot');
  src: local('Nunito Sans Light Italic'), local('NunitoSans-LightItalic'),
      url('../fonts/NunitoSans-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-LightItalic.woff2') format('woff2'),
      url('../fonts/NunitoSans-LightItalic.woff') format('woff'),
      url('../fonts/NunitoSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Italic.eot');
  src: local('Nunito Sans Italic'), local('NunitoSans-Italic'),
      url('../fonts/NunitoSans-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-Italic.woff2') format('woff2'),
      url('../fonts/NunitoSans-Italic.woff') format('woff'),
      url('../fonts/NunitoSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-ExtraLightItalic.eot');
  src: local('Nunito Sans ExtraLight Italic'), local('NunitoSans-ExtraLightItalic'),
      url('../fonts/NunitoSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-ExtraLightItalic.woff2') format('woff2'),
      url('../fonts/NunitoSans-ExtraLightItalic.woff') format('woff'),
      url('../fonts/NunitoSans-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Black.eot');
  src: local('Nunito Sans Black'), local('NunitoSans-Black'),
      url('../fonts/NunitoSans-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-Black.woff2') format('woff2'),
      url('../fonts/NunitoSans-Black.woff') format('woff'),
      url('../fonts/NunitoSans-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-BoldItalic.eot');
  src: local('Nunito Sans Bold Italic'), local('NunitoSans-BoldItalic'),
      url('../fonts/NunitoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-BoldItalic.woff2') format('woff2'),
      url('../fonts/NunitoSans-BoldItalic.woff') format('woff'),
      url('../fonts/NunitoSans-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-ExtraBoldItalic.eot');
  src: local('Nunito Sans ExtraBold Italic'), local('NunitoSans-ExtraBoldItalic'),
      url('../fonts/NunitoSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/NunitoSans-ExtraBoldItalic.woff') format('woff'),
      url('../fonts/NunitoSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-BlackItalic.eot');
  src: local('Nunito Sans Black Italic'), local('NunitoSans-BlackItalic'),
      url('../fonts/NunitoSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-BlackItalic.woff2') format('woff2'),
      url('../fonts/NunitoSans-BlackItalic.woff') format('woff'),
      url('../fonts/NunitoSans-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-ExtraLight.eot');
  src: local('Nunito Sans ExtraLight'), local('NunitoSans-ExtraLight'),
      url('../fonts/NunitoSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-ExtraLight.woff2') format('woff2'),
      url('../fonts/NunitoSans-ExtraLight.woff') format('woff'),
      url('../fonts/NunitoSans-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Regular.eot');
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
      url('../fonts/NunitoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
      url('../fonts/NunitoSans-Regular.woff') format('woff'),
      url('../fonts/NunitoSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

