body {
    position: relative;
    background: url(player.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.player {
    position: absolute;
    width: 420px;
    height: 580px;
    left: 459px;
    top: 9px;

    background: linear-gradient(166.77deg, rgba(63, 196, 238, 0.85) 8.54%, rgba(150, 38, 168, 0.431208) 51.08%, rgba(36, 208, 219, 0.65) 94.87%);
    border-radius: 20px;
}

.thumbnail {
    position: absolute;
    width: 262px;
    height: 265px;
    left: 79px;
    top: 25px;
    border-radius: 50px;
}

.thumbnail .img {
    position: absolute;
    width: 262px;
    height: 265px;
    left: 0px;
    top: 0px;
    background: url(player.jpg);
    background-size: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.name {
    position: absolute;
    width: 299px;
    height: 58px;
    left: -14px;
    top: 284px;
    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    text-align: center;

    color: #FFFFFF;
}

.album {
    position: absolute;
    width: 308px;
    height: 30px;
    left: -23px;
    top: 354px;

    font-family: Oregano;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 39px;
    text-align: center;

    color: #FFFFFF;
}

.progress {
    position: absolute;
    width: 356px;
    height: 32px;
    left: -45px;
    top: 410px;
    background: linear-gradient(90.41deg, #912A93 14.12%, rgba(53, 179, 179, 0.47) 79.91%);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

.controls {
    position: absolute;
    width: 418px;
    height: 79px;
    left: -79px;
    top: 461px;
}

.volumedown {
    position: absolute;
    width: 51px;
    height: 52px;
    left: 13px;
    top: 14px;
}

.volumeup {
    position: absolute;
    width: 56px;
    height: 52px;
    left: 354px;
    top: 14px;
}

.stop {
    position: absolute;
    width: 49px;
    height: 44px;
    left: 277px;
    top: 17px;
}

.play {
    position: absolute;
    width: 68px;
    height: 49px;
    left: 188px;
    top: 18px;
}

.speed {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 92px;
    top: 10px;
}