// COLORS
$yellow:#FCB72B;
$dark-navy:#495567;
$dim-grey:#939CAA;
$light-grey:#E5ECF4;
$snow:#d0dff3;
$light-yellow:#FFF4DF;
$white:#ffffff;
// FONTS
$font-primary:"Space Mono",Arial,sans-serif;
$font-secondary: "Lexend Deca", Arial, sans-serif;
