
.kirish {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100%;
	display: flex;
}
.kirish section {
	position: relative;
	flex: 6;
	display: flex;
	justify-content: center;
	align-items: center;
}
.kirish-left {
	align-items: center;
	text-align: center;
	height: 100%;
	background-color: black;
	overflow: hidden;
	position: relative;
}
.kirish-right {
	align-items: center;
	text-align: center;
	height: 100%;
	background-color: white;
	overflow: hidden;
	position: relative;
}
.card-fon, .logo-left, .logo-right {
	z-index: 3;
}
.card-fon h1 {
	display: inline-block;
	font-size: 8vw;
	font-weight: bold;
}
.kirish-left h1 {
	color: transparent;
	-webkit-text-stroke: 2px white;
	position: relative;
}
.kirish-right h1 {
	color: transparent;
	-webkit-text-stroke: 2px black;
	letter-spacing: 5px;
	position: relative;
}

.kirish img {
	position: absolute;
	width: 15rem;
	border-radius: 1rem;
	box-shadow: -5px -5px 5px  rgba(255,255,255, 0.2),
	inset 5px 5px 5px  rgba(0,0,0, 0.2),
	5px 5px 5px  rgba(0,0,0, 0.2),
	inset -5px -5px 5px  rgba(255,255,255, 0.2);
	padding: 1rem;
}
.logo-left {
	transform: translate(50%,-50%);
	top: 20%;
	right: 0;
}
.logo-right{
	transform: translate(-50%,-50%);
	left: 0;
	top: 20%;
}
.cosmo {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}