.footer {
  background-color: $dark-green;

  &__container {
    padding: 48px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left {
    display: flex;
  }

  &__link {
    display: inline-block;
  }

  &__list {
    @include list-unstyled;
    margin-top: 25px;
    display: flex;
  }

  &__items~&__items {
    margin-left: 40px;
  }
  &__img{
    width: 96px;
    height: 24px;
  }
  &__links {
    @include s18n;
    text-decoration: none;
    color: $white;
    &:hover{
      color:$light-coral;
    }
  }

  &__adress {
    @include s15;
    margin-left: 125px;
    color: rgba($color: $white, $alpha: 0.6);
  }
  &__right{
    display: flex;
    flex-direction:column;
    align-items: flex-end;
  }
  &__item ~ &__item{
    margin-left: 16px;
  }
  &__social{
    display: flex;
    align-items: center;
    @include list-unstyled;
  }
  &__copy{
    @include s15;
    color:rgba($color: $white, $alpha: .6);
  }
  &__images{
    &:hover{
      fill:$light-coral;
      transition: .4s;
    }
  }
  @include max(768px){
    &__container{
      flex-wrap: wrap;
    }
    &__left{
      width: 100%;
      justify-content: space-between;
    }
    &__adress{
      margin-left: 0;
    }
    address{
      text-align: right;
      @include s15;
    }
    &__right{
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    &__links {
    @include s15;
    }
  }
  @include max(430px){
    &__left{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    address{
      text-align:center;
      @include s15;
    }
    &__img{
      width: 96px;
      height: 24px;
    }
    &__logo{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__adress{
      margin-top: 24px;
    }
    &__right{
      flex-direction:column;
      margin-top: 40px;
    }
  }
}