.pricing {
  background-color: #141E32;
  margin-top: 100px;
  &__container {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &--body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
  }

  &__header {
    margin: 0;
    margin-top: 10px;
    width: 489px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
  }

  &__list {
    display: flex;
    list-style-type: none;
  }

  &__items~&__items {
    margin-left: 30px;
  }



  &__card {
    width: 350px;
    height: 682px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 16px 35px rgba(112, 144, 176, 0.2);
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: -363px;

    &--plan {
      margin: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 45px;
      text-align: center;
      color: #161D2F;
    }

    &--img {
      border-radius: 8px;
      width: 180px;
      height: 120px;
    }

    &--name {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
      color: #222222;
      margin: 0;
      margin-top: 5px;
    }

    &--list {
      padding: 0;
      list-style-image: url("../../img/card/lst.svg");
    }

    &--item {
      margin-top: 10px;
    }

    &--bottom{
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    &--cost {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 150%;
      text-align: center;
      color: #161D2F;
    }

    &--mini {
      font-size: 16px;
      font-weight: 400;
    }

    &--btn {
      background: linear-gradient(97.1deg, #3043A9 11.99%, #1F629F 96.6%);
      border-radius: 28px;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      width: 161px;
      height: 57px;
      text-align: center;
      text-transform: capitalize;
      color: #FFFFFF;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;
      &:hover{
        opacity:0.8;
        transition:.4s;
      }
    }
  }
}