.footer {
  background-color: $second-color;
  padding: 48px 0;

  &__container {
    display: flex;
     flex-wrap:wrap;
     justify-content: space-between;
  }

  &__button {
    @include button;
    &:hover{
      opacity:0.4;
    transition:.4s;
    }
  }

  &__social {
    margin-top: 55.3px;
  }

  &__networks {
    display: flex;
    @include list;
  }

  &__item {
    width: 160px;
  }

  &__items~&__items {
    margin-left: 13.33px;
  }

  &__listing {
    display: flex;
  }

  &__list {
    @include list;
  }

  &__list~&__list {
    margin-left: 30px;
  }

  &__item:nth-child(2) {
    margin: 8px 0;
  }

  &__links {
    @include link;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.234375px;
    color: $white;
    &:hover{
      color:$third-color;
      transition:.4s;
    }
  }

  &__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    text-align: right;
    letter-spacing: -0.234375px;
    color: $white;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 24px;
  }

  &__copy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  
  &__fill:hover{
  fill:$third-color;
  transition:.4s;
  }
 @include response(855px){
   &__item{
     width: 100px;
   }
  }
  @include response(700px){
    &__item{
      width: 150px;
    }
    &__container{
      justify-content: center;
    }
    &__logo{
      margin-right:100px;
    }
    &__copy{
      margin-top: 50px;
    }
  }
  @include response(630px){
    &__logo{
      margin-right: 50px;
    }
    &__item{
      width: 70px;
    }
  }
  @include response(416px){
    &__listing{
      flex-direction: column;
      width: 300px;
      align-items: center;
    }
    &__list:nth-child(2){
      margin-left: 0;
    }
    &__list{
      padding-top: 20px;
    }
    &__logo{
      margin-right: 0;
    }
    &__networks{
      margin-top: -20px;
    }
    &__copy{
      margin-top: 20px;
    }
    &__copyright{
      text-align: center;
    }
  }
}
