<!DOCTYPE html>
<html lang="uz" class="supernova">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="Call Back Form" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1"
    />
    <meta name="HandheldFriendly" content="true" />
    <title>Call Back Form</title>
    <link rel="preconnect" href="https://www.google.com">
    <link rel="preconnect" href="https://www.gstatic.com" crossorigin>
    <link rel="stylesheet" href="./css/mediastyle.css" />
    <link type="text/css" rel="stylesheet" href="./css/bootstrapped1.css" />
    <link type="text/css" rel="stylesheet" href="./css/bootstrapped2.css" />
    <link type="text/css" rel="stylesheet" href="./css/bootstrapped3.css" />
    <link type="text/css" rel="stylesheet" href="./css/formstyle.css" />
    <script src="https://www.google.com/recaptcha/api.js?render=6LdTlkQeAAAAAM_boxYY6vsE3z6LbemkYO9sUeVw"></script>
  </head>

  <body>
    <form
      class="jotform-form"
      action="/submit"
      method="post"
      name="form"
      accept-charset="utf-8"
      autocomplete="on"
      id="form_10495899085"
    >
      <div role="main" class="form-all">
        <ul class="form-section page-section">
          <li id="cid_18" class="form-input-wide" data-type="control_head">
            <div class="form-header-group header-large">
              <div class="header-text httal htvam">
                <h1 id="header_18" class="form-header" data-component="header">
                  Type your question
                </h1>
                <div id="subHeader_18" class="form-subHeader">
                  Enter your details to receive a call back from us
                </div>
              </div>
            </div>
          </li>
          <li
            class="form-line jf-required"
            data-type="control_fullname"
            id="id_20"
          >
            <label
              class="form-label form-label-top"
              id="label_20"
              for="first_20"
            >
              Full Name
              <span class="form-required"> * </span>
            </label>
            <div
              id="cid_20"
              class="form-input-wide jf-required"
              data-layout="full"
            >
              <div data-wrapper-react="true">
                <span
                  class="form-sub-label-container"
                  style="vertical-align: top"
                  data-input-type="first"
                >
                  <input
                    type="text"
                    id="first_20"
                    name="q20_fullName20[first]"
                    class="form-textbox validate[required]"
                    data-defaultvalue=""
                    autoComplete="section-input_20 given-name"
                    size="10"
                    value=""
                    data-component="first"
                    aria-labelledby="label_20 sublabel_20_first"
                    required=""
                  />
                  <label
                    class="form-sub-label"
                    for="first_20"
                    id="sublabel_20_first"
                    style="min-height: 13px"
                    aria-hidden="false"
                  >
                    First Name
                  </label>
                </span>
                <span
                  class="form-sub-label-container"
                  style="vertical-align: top"
                  data-input-type="last"
                >
                  <input
                    type="text"
                    id="last_20"
                    name="q20_fullName20[last]"
                    class="form-textbox validate[required]"
                    data-defaultvalue=""
                    autoComplete="section-input_20 family-name"
                    size="15"
                    value=""
                    data-component="last"
                    aria-labelledby="label_20 sublabel_20_last"
                    required=""
                  />
                  <label
                    class="form-sub-label"
                    for="last_20"
                    id="sublabel_20_last"
                    style="min-height: 13px"
                    aria-hidden="false"
                  >
                    Last Name
                  </label>
                </span>
              </div>
            </div>
          </li>
          <li class="form-line" data-type="control_email" id="id_38">
            <label
              class="form-label form-label-top form-label-auto"
              id="label_38"
              for="input_38"
            >
              Email
            </label>
            <div id="cid_38" class="form-input-wide" data-layout="half">
              <span
                class="form-sub-label-container"
                style="vertical-align: top"
              >
                <input
                  type="email"
                  id="input_38"
                  name="q38_email"
                  class="form-textbox validate[Email]"
                  data-defaultvalue=""
                  style="width: 310px"
                  size="310"
                  value=""
                  data-component="email"
                  aria-labelledby="label_38 sublabel_input_38"
                  required="required"
                />
                <label
                  class="form-sub-label"
                  for="input_38"
                  id="sublabel_input_38"
                  style="min-height: 13px"
                  aria-hidden="false"
                >
                  example@example.com
                </label>
              </span>
            </div>
          </li>
          <li class="form-line" data-type="control_textarea" id="id_36">
            <label
              class="form-label form-label-top form-label-auto"
              id="label_36"
              for="input_36"
            >
              Type a question
            </label>
            <div id="cid_36" class="form-input-wide" data-layout="full">
              <textarea
                id="input_36"
                class="form-textarea"
                name="q36_typeA"
                style="width: 648px; height: 163px"
                data-component="textarea"
                aria-labelledby="label_36"
                required="required"
              ></textarea>
            </div>
          </li>
          <li class="form-line" data-type="control_button" id="id_17">
            <div id="cid_17" class="form-input-wide" data-layout="full">
              <div
                data-align="left"
                class="form-buttons-wrapper form-buttons-left jsTest-button-wrapperField"
              >
              <button class="g-recaptcha form-submit-button form-submit-button-none submit-button jf-form-buttons jsTest-submitField" 
              data-sitekey="6LdTlkQeAAAAAM_boxYY6vsE3z6LbemkYO9sUeVw" 
              data-callback='onSubmit' 
              data-action='submit'>Submit</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </form>
    <%if (error) { %>
        <script>
          alert("Recaptcha test failed");
        </script>
    <%}%>
    <script>
      function onSubmit(token) {
        document.getElementById("form_10495899085").submit();
      }
      

     
    </script>
  </body>
</html>
