<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="HandheldFriendly" content="true">
  <title>Thank You</title>
  <link rel="stylesheet" href="./css/bootstrapped4.css">
  <link rel="stylesheet" href="./css/bootstrapped5.css">
</head>

<body class="thankyou">
  <div id="stage" class="form-all">
    <div class="wrapper">
      <div class="col-1"><img class="tyBgImage" src="./image/Thankyou-iconV2.png" alt=""></div>
      <div class="col-2">
        <p>&nbsp;</p>
        <div style="text-align:center;">
          <h1><span style="color:#000000;"><strong><span
                  style="font-family:arial, helvetica, sans-serif;font-size:small;">Thank you!</span></strong></span>
          </h1>
        </div>
      </div>
    </div>
  </div>
</body>
</html>